TASK 1

1)Install Jupyter notebook and run the first program and share the screenshot of the output.

In [24]:
print("Successfull installation of jupyter notebook")

Successfull installation of jupyter notebook

2)Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [25]:
#empty list
n=[]
#to include numbers between 2000 and 3201
for x in range(2000,3201):
#checking for condition if it is divisible by 7 and are not multiples of 5
    if (x%7==0) and (x%5!=0):
#after met with above conditions,the resulting numbers are type converted to string by appending it
        n.append(str(x))
#printing with comma seperated sequences in single line
print(','.join(n))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3)Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
#prompting user to enter first name
first=str(input())
#prompting user to enter last name
last=str(input())
#using concatenation,we are joining two name
name=first+last
#printing the resultant format
print(name)
#printing it in reverse order with space
print("reversed name:",last+" "+first)

aarthi
ram
aarthiram
reversed name: ram aarthi

4)Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [3]:
#assigning pi value=3.14
pi=3.14
#given the diameter=12 and radius is diameter/2
d=12
#Calculating volume of sphere
v=(4/3)*pi*d/2*d/2*d/2
#printing the calculated value 
print("volume of sphere is",v)

volume of sphere is 904.3199999999998

TASK 2

1)Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [6]:
#prompting user to enter number
num=input()
#splitting comma's using split() method
lst=num.split(",")
#printing the result in the form of list(collections)
print("printing seq of numbers in list",lst)

21,23,34,45,56
printing seq of numbers in list ['21', '23', '34', '45', '56']

In [21]:
2)star pattern
#to enter max number of stars in row
num=int(input("enter number of max rows:"))
#iterating the for loop till the input number of rows
for i in range(0,num):
#iterating through columns
    for j in range(0,i+1):
#printing the start and to end with space and not in next line
        print('*',end="")
#once the printing finished off while the columns condition satisfied,pointing the cursor to print in next line
    print()
#same applies for in reverse order of patterns
for i in range(num,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print()

enter number of max rows:5
*
**
***
****
*****
****
***
**
*

3)Write a Python program to reverse a word after accepting the input from the user.

In [22]:
#prompting user to enter the input
name=input("enter the field:")
#reversing the words using slicing method
reversed_word=name[::-1]
#printing the resultant value
print('Reversed order of input is:',reversed_word)

enter the field:aarthiram
Reversed order of input is: marihtraa

4)Write a Python Program to print the given string in the format specified in the sample output.

In [23]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens